<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--<add name="lab6.Properties.Settings.RestaurantAppConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\Labs\DBlabs\DBlabs\RestaurantApp.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />-->
    <add name="lab6.Properties.Settings.RestaurantAppConnectionString"
              connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=D:\LearningBNTU\6сем\БазыДанных\DBlabs\DBlabs\RestaurantApp.mdf;Integrated Security=True;Connect Timeout=30"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>